
header {
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;
    text-align: center;
}

body {
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;
    text-align: center;
}

footer {
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;
    text-align: center;

}

h3{
    color: rebeccapurple;

}

img{
    border-radius: 50%;
}
ul{
    list-style-position: inside;
  }
